body {
    background-image: url("../images/bg.jpg");
    background-size: cover;
    position: absolute; /* page does not change styling when an animal button is clicked */
    color: white;
}

.char-btn {
    margin: 5px;
    background-color: rgb(146, 9, 9);
    color: white;
    font-weight: bold;
    font-size: 14px;
}
