body {
    background-image: url("../images/bg.jpg");
    background-size: cover;
    position: absolute; /* page does not change styling when an animal button is clicked */
    color: white;
}

.animal-btn {
    margin: 5px;
}
